<!DOCTYPE html>
<html>
  <body>
    <h1><a href='/inbox'>Pace</a></h1>
    {{#user}}
      Logged in as {{email}}
      <form action='logout' method="post">
        <input type="submit" value="Logout">
      </form>

      {{{content}}}

      <a href='/new_message.html'>New message</a>
      <a href='/about.html'>About</a>
    {{/user}}

    {{^user}}
      Login:
      <form action='login' method="post">
        Email:
        <input type="text" name="user_email"><br>
        <input type="submit" value="Log in">
      </form>
    {{/user}}
  </body>
</html>
